
/* Global */

* {
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}


button {
    background-color: aqua;
    text-transform: uppercase;
}


/*App bar */

li {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid lightgrey;
}

/*Channels list */

h1, small {
    background-color: orange;
}

h2{
    background-color: white;
    font-size: medium;
}

/*Tab bar */

.tbb {
    text-transform: uppercase;
    background-color: white;
    border: none;
    font-size: 13px;
    width: 30%;
    height: 72px;
    border: 16px;
}

/*Messages */

.message {
    width: 80%; 
    margin-bottom: 8px;
    font-size: medium;
    margin-left: 2.5%
}

.message p {
    background-color: white;
    padding: 16px;
}

.message button {
    background-color: #CDDC39; 
    color: black; 
    text-transform: uppercase;
}

.own {
    margin-left: 17.5%;
}

em {
    font-size: larger;
    font-style: normal;
}

a {
    color: black;
}